@import "../../scss/includes.scss";

.header {
  border-bottom: 3px solid $color-primary;
  background: $color-secondary;
  color: $color-black;
  height: 120px;

  .root {
    @include grid(32);

    .container-fluid {
      @include grid-column-span(32);
      padding: 0 128px;

      @include small-and-down() {
        padding: 0 8px;
      }

      @media (max-width: $breakpoint-wide) {
        padding: 0px 32px;
      }

      .content {
        @include end();
        flex-wrap: wrap;

        @media (max-width: 500px) {
          @include center();
        }

        @media (min-width: 1026px) {
          @include between();
        }

        img {
          width: 100px;
        }
      }
    }
  }
}
