@import "../../scss/includes.scss";

.root {
  @include grid(32);

  .container-fluid {
    @include grid-column-span(32);
    padding: 0 144px;

    @include small-and-down() {
      padding: 0 24px;
    }

    @media (max-width: $breakpoint-wide) {
      padding: 0 48px;
    }

    .header {
      @include between();
      margin: 50px 0 24px 0;

      .header-content {
        width: 70%;

        .title {
          font-weight: bold;
          font-size: 28px;
        }

        .subtitle {
          font-size: 20px;
        }
      }

      .search {
        width: 30%;
      }
    }

    .loading {
      margin-top: 24px;
    }

    .form {
      margin-top: 44px;

      .full {
        width: 100%;
      }

      legend {
        font-size: 16px;
        margin-bottom: 16px;
      }
    }

    .buttons {
      @include center();
      margin-top: 0px;
      flex-wrap: wrap;

      @media (min-width: $breakpoint-large) {
        @include start();
        margin-top: 24px;
      }

      app-button {
        margin-right: 16px;
        margin-top: 12px;

        @media (min-width: $breakpoint-large) {
          margin-top: 0px;
        }
      }
    }
  }
}
