@import "../../scss/includes.scss";

.root {
  @include grid(32);

  .container-fluid {
    @include grid-column-span(32);

    .content {
      @include center();
      margin: 16px;

      .form {
        margin: 64px;

        .user {
          font-size: 50px;
          margin-bottom: 16px;
          color: $color-primary;
        }

        mat-card {
          text-align: center;
          padding: 72px;

          div {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

// Alteração das cores dos botões do Angular Material
.mat-button,
.mat-icon-button,
.mat-stroked-button {
  font-size: 16px;
  color: $color-primary !important;
}
