<div class="root">
  <div class="container-fluid">
    <div class="content">
      <div class="form">
        <mat-card [@appeard]="state">
          <form [formGroup]="form">
            <div>
              <i class="fa fa-user-circle user"></i>
            </div>

            <div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input
                  formControlName="email"
                  matInput
                  placeholder="Ex. joao@email.com"
                />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <input
                  formControlName="password"
                  matInput
                  placeholder="•••••••"
                />
              </mat-form-field>
            </div>

            <div>
              <app-button (click)="login()" label="Acessar"></app-button>
            </div>
            <div>
              <button routerLink="/register" mat-button>Cadastre-se</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
