<div class="root">
  <div class="container-fluid">
    <div class="content">
      <div class="form">
        <mat-card [@appeard]="state">
          <form [formGroup]="form">
            <div>
              <i class="fa fa-user-circle user"></i>
            </div>

            <div *ngFor="let input of loginInputs">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{ input.label }}</mat-label>
                <input
                  [formControlName]="input.control"
                  [type]="input.control"
                  [required]="input.required"
                  [placeholder]="input.placeholder"
                  matInput
                />
              </mat-form-field>
            </div>

            <div>
              <app-button
                (click)="login()"
                label="Acessar"
                [disabled]="form.invalid"
              ></app-button>
            </div>

            <div>
              <button routerLink="/register" mat-button>Cadastre-se</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
