<div class="root">
  <div class="container">
    <div class="content">
      <div class="form">
        <mat-card [@appeard]="state">
          <form [formGroup]="form">
            <div>
              <i class="fa fa-user-circle user"></i>
            </div>

            <div *ngFor="let input of registerInputs">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{ input.label }}</mat-label>
                <input
                  [formControlName]="input.control"
                  [type]="input.control"
                  [required]="input.required"
                  [placeholder]="input.placeholder"
                  matInput
                />
              </mat-form-field>
            </div>

            <div>
              <app-button
                (click)="register()"
                [disabled]="form.invalid"
                label="Cadastrar">
              </app-button>
            </div>

            <div>
              <app-button
                routerLink="/login"
                theme="secondary"
                label="Voltar ao login">
              </app-button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
