<div class="root">
  <div class="container">
    <div class="header" *ngIf="!isLoading && data.length" [@appeard]="state">
      <div>
        <p class="title">Polos Itaú</p>
        <p class="subtitle">
          Confira abaixo alguns dos principais polos do Itaú
        </p>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Pesquisar...</mat-label>
          <form [formGroup]="searchForm">
            <input
              matInput
              formControlName="searchControl"
              placeholder="Ex. Itaú BBA"
            />
          </form>
        </mat-form-field>
      </div>
    </div>

    <div class="content">
      <h3 *ngIf="isLoading">
        <app-spinner label="Carregando polos..." [size]="2"> </app-spinner>
      </h3>

      <div class="table" *ngIf="!isLoading && data.length" [@appeard]="state">
        <app-table [data]="data"></app-table>
      </div>

      <p *ngIf="!isLoading && !data.length" [@appeard]="state">
        Não foram encontrados polos cadastrados <i class="fa fa-frown-o"></i>
      </p>
    </div>
  </div>
</div>
