@import "../../scss/includes.scss";

.root {
  @include grid(32);

  .container-fluid {
    @include grid-column-span(32);
    padding: 0 144px;

    @include small-and-down() {
      padding: 0 24px;
    }

    @media (max-width: $breakpoint-wide) {
      padding: 0 48px;
    }

    .header {
      display: block;
      margin: 50px 0 24px 0;

      @media (min-width: $breakpoint-wide) {
        @include between();
      }

      .header-content {
        width: 100%;

        @media (min-width: $breakpoint-wide) {
          width: 70%;
        }

        .title {
          font-weight: bold;
          font-size: 28px;
        }

        .subtitle {
          font-size: 20px;
        }
      }

      .search {
        width: 100%;

        @media (min-width: $breakpoint-wide) {
          width: 30%;
        }
      }
    }

    .content {
      @include center();

      .table-width {
        width: 100%;
      }
    }

    .button {
      @include center();

      @media (min-width: $breakpoint-wide) {
        @include end();
      }
    }
  }
}

// Alteração das cores da tabela do Angular Material
::ng-deep .mat-focused .mat-form-field-label {
  color: $color-primary !important;
}

::ng-deep.mat-form-field-underline {
  background-color: $color-primary !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: $color-primary !important;
}
