<app-header></app-header>
<div class="root">
  <div class="container-fluid">
    <div class="header" *ngIf="!isLoading" [@appeard]="state">
      <div class="header-content">
        <p class="title">{{ getContent("title") }}</p>
        <p class="subtitle">{{ getContent("subtitle") }}</p>
      </div>

      <div class="search">
        <form [formGroup]="searchForm">
          <input
            type="text"
            formControlName="searchControl"
            class="form-control"
            [placeholder]="getContent('search')"
          />
        </form>
      </div>
    </div>

    <div class="content">
      <h3 *ngIf="isLoading">
        <app-spinner label="Carregando polos..." [size]="2"> </app-spinner>
      </h3>

      <div
        class="table-width"
        *ngIf="!isLoading && data.length"
        [@appeard]="state"
      >
        <app-table [data]="data" *ngIf="!isMobile"></app-table>
        <app-list [data]="data" *ngIf="isMobile"></app-list>
      </div>

      <p *ngIf="!isLoading && !data.length" class="mt-5" [@appeard]="state">
        {{ getContent("error") }}
        <i class="fa fa-frown-o"></i>
      </p>
    </div>

    <div class="button">
      <app-button
        *ngIf="!isLoading"
        class="mt-4"
        [@appeard]="state"
        routerLink="/business-register"
        theme="primary"
        [label]="getContent('button')"
      >
      </app-button>
    </div>
  </div>
</div>
