<app-header></app-header>
<div class="root">
  <div class="container-fluid">
    <div class="header" *ngIf="!isLoading && data.length" [@appeard]="state">
      <div class="header-content">
        <p class="title">Polos Itaú</p>
        <p class="subtitle">
          Confira abaixo alguns dos principais polos do Itaú
        </p>
      </div>

      <div class="search">
        <form [formGroup]="searchForm">
          <input
            type="text"
            formControlName="searchControl"
            class="form-control"
            placeholder="Pesquisar..."
          />
        </form>
      </div>
    </div>

    <div class="content">
      <h3 *ngIf="isLoading">
        <app-spinner label="Carregando polos..." [size]="2"> </app-spinner>
      </h3>

      <div
        class="table-width"
        *ngIf="!isLoading && data.length"
        [@appeard]="state"
      >
        <app-table [data]="data"></app-table>
      </div>

      <p *ngIf="!isLoading && !data.length" [@appeard]="state">
        Não foram encontrados polos cadastrados <i class="fa fa-frown-o"></i>
      </p>
    </div>

    <div class="button">
      <app-button
        *ngIf="!isLoading"
        class="mt-4"
        [@appeard]="state"
        routerLink="/business-register"
        theme="primary"
        label="Adicionar"
      >
      </app-button>
    </div>
  </div>
</div>
