@import "../../scss/includes.scss";

.root {
  @include grid(32);

  .container {
    @include grid-column-span(32);

    .content {
      @include center();
      margin: 16px;

      .table {
        width: 90%;
        margin: 64px;
      }
    }
  }
}
