@use '~@angular/material' as mat;
@include mat.core();

$itau-bba-primary: mat.define-palette(mat.$indigo-palette);
$itau-bba-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$itau-bba-warn: mat.define-palette(mat.$red-palette);
$itau-bba-theme: mat.define-light-theme(
  (
    color: (
      primary: $itau-bba-primary,
      accent: $itau-bba-accent,
      warn: $itau-bba-warn,
    ),
  )
);

@include mat.all-component-themes($itau-bba-theme);

@import "app/scss/includes.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
label,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  color: $color-black;
}

p {
  color: $color-black;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-background !important;
  font-family: $font-montserrat !important;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  line-height: 1.25;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

::selection {
  background: $color-primary;
  color: $color-white;
}

.font-weight-bold {
  font-weight: 700 !important;
}

a {
  color: $color-black !important;
  text-decoration: none !important;
  transform: scale(1);
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

.spinner-center-page {
  position: absolute;
  left: 50%;
  top: 50%;
}

// Replicate Sweet Alert Focus Color
.swal2-popup .swal2-styled {
  &:focus {
    box-shadow: none !important;
  }
}

// Replicate Angular Material Input Select Color
.mat-option.mat-selected:not(.mat-option-disabled) {
  color: $color-primary !important;
}

.mat-select-arrow {
  color: $color-primary !important;
}

.mat-paginator-icon {
  color: $color-primary !important;
}
