// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$itau-bba-primary: mat.define-palette(mat.$indigo-palette);
$itau-bba-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$itau-bba-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$itau-bba-theme: mat.define-light-theme(
  (
    color: (
      primary: $itau-bba-primary,
      accent: $itau-bba-accent,
      warn: $itau-bba-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($itau-bba-theme);

@import "app/scss/includes.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
label,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  color: $color-black;
}

thead,
tr,
th,
tr,
td {
  color: $color-black;
}

p {
  color: $color-black;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-background !important;
  font-family: $font-roboto !important;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  line-height: 1.25;
  font-size: 16px;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $color-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border: 3px solid color-light-gray;
    border-radius: 20px;
  }
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

::selection {
  background: $color-primary;
  color: $color-white;
}

.font-weight-bold {
  font-weight: 700 !important;
}

a {
  color: $color-black !important;
  transform: scale(1);
  transition: transform 0.2s;

  &:hover {
    text-decoration: none !important;
    transform: scale(1.1);
  }
}

.spinner-center-page {
  position: absolute;
  left: 50%;
  top: 50%;
}

.swal2-popup .swal2-styled {
  &:focus {
    box-shadow: none !important;
  }
}
